.hero__inner {
  width: 100%;
  /* height: 800px; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .left {
    width: 50%;
    height: 100%;
    .text {
      padding-top: 25%;
      h5 {
        color: #646464;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 15px;
      }
      h1 {
        color: #212121;
        font-family: Poppins;
        font-size: 62px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 108.333% */
        margin-bottom: 20px;
      }
      p {
        color: #646464;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; /* 166.667% */
        max-width: 550px;
        margin-bottom: 35px;
      }
      .hero-btn {
        width: 122.154px;
        height: 32.808px;
        flex-shrink: 0;
        border-radius: 20px 0px;
        background: #37806b;
        color: #fff;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 78px; /* 433.333% */
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      .linee {
        width: 500px;
        /* margin-top: -11rem; */
        margin-top: 2rem;
      }
      .homee {
        width: 500px;
        z-index: 999;
        position: absolute;
        border-radius: 90px 0px 90px 0px;
        /* margin-top: -14rem;
        margin-left: -2rem; */
        margin-top: -2rem;
        margin-left: -2rem;
      }
    }
  }
}
@media screen and (max-width: 1145px) {
  .right {
    .image {
      .linee {
        max-width: 450px;
        height: 400px;
      }
      .homee {
        max-width: 450px;
        max-height: 400px;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .hero__inner {
    flex-direction: column;
    width: 100%;
    height: 1000px;
    .left {
      width: 100%;
      .text {
        padding-top: 15%;
        h1 {
          font-size: 70px;
        }
        .hero-btn {
          width: 140px;
          height: 40px;
          font-size: 18px;
        }
      }
    }
    .right {
      width: 100%;
    }
  }
}
@media screen and (max-width: 770px) {
  .hero__inner {
    .left {
      .text {
        h1 {
          font-size: 62px;
        }
        .hero-btn {
          width: 130px;
          height: 35px;
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 570px) {
  .hero__inner {
    .left {
      height: 80%;
      .text {
        h5 {
          font-size: 16px;
        }
        h1 {
          font-size: 55px;
          line-height: 60px;
        }
        p {
          max-width: 350px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .hero__inner {
    height: 900px;
    .right {
      .image {
        .linee {
          width: 400px;
          height: 350px;
        }
        .homee {
          width: 400px;
          margin-top: -1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .hero__inner {
    .left {
      .text {
        h1 {
          font-size: 45px;
          line-height: 50px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .right {
      .image {
        .linee {
          width: 370px;
          height: 330px;
          margin-left: 1rem;
        }
        .homee {
          width: 370px;
          margin-top: -1rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .hero__inner {
    max-height: 700px;
    .left {
      .text {
        h1 {
          font-size: 45px;
          line-height: 50px;
        }
        p {
          font-size: 12px;
        }
        .hero-btn {
          width: 100px;
          height: 30px;
          font-size: 12px;
        }
      }
    }
    .right {
      .image {
        .linee {
          width: 330px;
          height: 300px;
          margin-left: 1rem;
        }
        .homee {
          width: 330px;
          margin-top: -1rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .hero__inner {
    max-height: 700px;
    .left {
      .text {
        h1 {
          font-size: 40px;
          line-height: 45px;
        }
        p {
          font-size: 10px;
          max-width: 300px;
        }
      }
    }
    .right {
      .image {
        .linee {
          width: 280px;
          height: 230px;
          margin-left: 1rem;
        }
        .homee {
          width: 280px;
          border-radius: 50px 0 50px 0;
          margin-top: -1rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 325px) {
  .hero__inner {
    max-height: 650px;
    .left {
      .text {
        h1 {
          font-size: 36px;
          line-height: 40px;
        }
        p {
          font-size: 9px;
          max-width: 260px;
        }
        .hero-btn {
          width: 80px;
          height: 25px;
          font-size: 10px;
        }
      }
    }
    .right {
      .image {
        .linee {
          width: 280px;
          height: 230px;
          margin-left: 1rem;
        }
        .homee {
          width: 280px;
          border-radius: 50px 0 50px 0;
          margin-top: -1rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
